@import "scss/utils";

.subs_layout {
  position: relative;
  @include fullHd {
    @include bigPcWidth;
    margin-top: 60px;
    padding: 60px 80px;
  }
  @include minBigPcWidth;
  padding: 45px 60px;
  @include thousendTwoWidth {
    padding: 35px 50px;
  }
  @include thousendWidth {
    padding: 35px 40px;
  }
  @include phoneOrTablet {
    padding: 25px;
  }
  @include phone {
    padding: 25px 15px;
  }
  margin-top: 60px;
  height: max-content;
  background: $dark-main;
  border-radius: 40px;
}

.subs_header {
  width: 100%;
  text-align: center;
  @include MontserratSemiBold(40px);
  color: white;
  z-index: 2;
  @include fullHd {
    margin-bottom: 56px;
  }
  margin-bottom: 40px;
  @include thousendTwoWidth {
    font-size: 32px;
  }
  @include phoneOrTablet {
    font-size: 28px;
  }
  @include phone {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.subs {
  z-index: 1;

}

.service_constructor {
  min-height: 350px;
  @include fullHd {
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
    & .range_wrapper {
      width: calc(50% - 30px);
    }
  }
  column-count: 2;
  column-gap: 30px;
  width: 100%;
  background: rgba(255, 255, 255, 0.01);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 1px rgba(18, 18, 18, 0.3);
  backdrop-filter: blur(30px);
  border-radius: 12px;
  padding: 18px 26px 30px;
  transition: .2s all ease-in-out;
  margin-bottom: 20px;

  @include phoneOrTablet {
    column-count: unset;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 15px 20px;
    box-shadow: none;
    background-color: transparent;
  }
  @include phone {
    row-gap: 10px;
    padding: 0 10px;
    border: none;
  }
}

.var_header {
  display: flex;
  @include MontserratSemiBold(36px);
  color: white;
  align-items: center;
}

.var_subheader {
  @include MontserratRegular(18px);
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 16px;
  @include phoneOrTablet {
    font-size: 16px;
  }
}

.range_wrapper {
  min-width: calc(50% - 30px);
  margin-bottom: 10px;
  page-break-inside: avoid;
  @include thousendWidth {
    width: 100%;
  }
}

.price {
  @include MontserratBold(36px);
  color: white;
  @include thousendTwoWidth {
    font-size: 32px;
  }
  @include phoneOrTablet {
    font-size: 24px;
  }
}


.desc_tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 1px solid #434343;
  padding: 16px 0 32px;
}

.desc_tag_item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 24px;
  align-items: center;

  p {
    @include MontserratRegular(18px);
    color: white;
    margin-left: 10px;
    @include phoneOrTablet {
      font-size: 16px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.card_svg_wrapper {
  width: 50px;
  height: 50px;
  border: 1px solid #ADADAD;
  padding: 10px;
  background: #434343;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: .2s all ease-in-out;
}

.card_svg {
  color: #ADADAD;
  border-radius: 50%;
  transition: .2s all ease-in-out;
}

.done_svg {
  @extend .svg;
  color: #85efac;
  pointer-events: none;
}

.button {
  min-width: 130px;
  width: 100%;
  height: 50px;
  @include fullHd {
    height: 55px;
  }
  transition: .2s all ease-in-out;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 8px;
  @include MontserratRegular(20px);
  color: white;
  border: 2px solid #434343;
  background: #2D2D2D;
  @include phoneOrTablet {
    height: 43px;
    font-size: 18px;
  }
  &:hover {
    background-color: $accent-color;
    border-color: transparent;
  }
}

.button_wrapper {
  width: 50%;
 padding-top: 16px;
  margin: 0 auto;
  z-index: 1;
  @include phoneOrTablet {
    width: 100%;
  }
  @include phone {
    width: 95%;
    margin: 0 auto;
  }
}