@import "scss/utils";

.circle {
  position: absolute;
  background: linear-gradient(90deg, #31d79b 0%, #516fa5 100%);
  transform: rotate(-43.69deg);
  border-radius: 50%;
  @include phoneOrTablet {
    display: none;
  }

  &:nth-child(2) {
    width: 132px;
    height: 132px;
    @include fullHd {
      top: 80%;
    }
    left: 1%;
    top: 60%;
    z-index: 0;
    @include thousendTwoWidth {
      left: 1%;
      top: 45%;
    }
  }
  &:nth-child(4) {
    width: 132px;
    height: 132px;
    @include fullHd {
      top: 10%;
    }
    top: 15%;
    left: 65%;
    z-index: 0;
  }
  &:nth-child(3) {
    width: 132px;
    height: 132px;
    left: 90%;
    top: 66%;
    z-index: 0;
    @include thousendTwoWidth {
      left: 80%;
      top: 70%;
    }
    @include tablet {
      right: 10%;
      top: -5%;
    }
  }
}

