@import "scss/utils";

.spinner_wrapper {
  position: fixed;
  overflow: hidden;
  right: 25px;
  bottom: 20px;
  z-index: 9999;
}

.spinner {
  animation: RotateSpinner .7s infinite linear;
}

@keyframes RotateSpinner {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

