@import "scss/utils";

.modal_background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal {
  width: max-content;
  position: absolute;
  background: $dark-main;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid #414141;
  top: 5%;
  right: 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
}

.exit_svg {
  @extend .svg;
  position: absolute;
  top: 20px;
  right: 20px;
  color: $gray;
  transition: .2s all ease-in-out;
  &:hover {
    color: white;
  }
}