@import "scss/utils";

.content_wrapper {
  width: 100%;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  @include phoneOrTablet {
    width: 100%;
  }
}


.form_header {
  @include MontserratSemiBold(32px);
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

.account {
  min-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include phoneOrTablet {
    min-width: 75vw;
  }
  @include phone {
    min-width: 100%;
  }
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  @include phoneOrTablet {
    margin-top: 10px;
  }
}

.title_pages {
  @include MontserratRegular(16px);
  color: $border-gray;
  white-space: nowrap;
}

.register {
  width: 100%;
  position: relative;
  @include phone {
    margin-top: 0;
  }
}

.form_sub_header {
  @include MontserratSemiBold(22px);
  color: $additional-dark;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form_header_arrow {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  color: $accent-color-darker;
  margin-right: 20px;
  transition: .2s all ease-in-out;
  cursor: pointer;
  &:hover {
    color: $accent-color;
  }
}

.form_button_wrapper {
  display: flex;
  align-items: center;
  margin: 5px auto 0;
  @include fullHd {
    width: 350px;
  }
  width: 100%;
  @include phone {
    width: 100%;
  }
}

.form_actions {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include phoneOrTablet {
    column-gap: 20px;
  }
  @include phone {
    padding-top: 20px;
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

.price_wrapper {
  @include MontserratRegular(18px);
  color: $border-gray;
  white-space: nowrap;
  @include phone {
    width: 100%;
  }
}

.price {
  @include MontserratSemiBold(24px);
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: $additional-dark;
  box-shadow: 0 0 10px 0.2rem #67FFC7
}

.sliders_wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  & .range_wrapper {
    width: 100%;
  }
}

.pin_description {
  @include MontserratRegular(16px);
  color: $gray;
  margin-bottom: 15px;
  & span {
    color: $dark-main;
    text-decoration: underline;
  }
}