@import "scss/utils";

.form_layout {
  min-height: 600px;
  @include fullHd {
    @include pcWidth();
    min-height: 700px;
    column-gap: 160px;
    margin: 80px auto 180px;
  }
  @include minPcWidth();
  display: flex;
  column-gap: 30px;
  border: 1px solid $gray-semi;
  padding: 40px;
  border-radius: 20px;
  margin: 40px auto 80px;

  backdrop-filter: blur(10px);
  z-index: 1;
  @include phoneOrTablet {
      width: calc(100% - 30px);
      margin: 20px auto;
      padding: 20px;
    overflow: hidden;
  }
  @include phone {
    min-height: 550px;
  }
}

.content_wrapper {
  width: 100%;
  display: flex;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include thousendTwoWidth {
    width: 55%;
  }
  @include thousendWidth {
    width: 75%;
    margin: 0 auto;
  }
  @include phoneOrTablet {
    width: 100%;
  }
}

.image {
  min-height: 100%;
  min-width: 40%;
  background-color: black;
  border-radius: 40px;
  margin-left: auto;
  @include thousendWidth {
    display: none;
  }
}

.form_header {
  @include MontserratSemiBold(32px);
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

.account {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.title_pages {
  @include MontserratRegular(16px);
  color: $border-gray;
  white-space: nowrap;
}

.register {
  margin-top: 20px;
  width: 100%;
  position: relative;
  @include phone {
    margin-top: 0;
  }
}

.form_sub_header {
  @include MontserratSemiBold(22px);
  color: $additional-dark;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form_header_arrow {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  color: $accent-color-darker;
  margin-right: 20px;
  transition: .2s all ease-in-out;
  cursor: pointer;
  &:hover {
    color: $accent-color;
  }
}

.form_button_wrapper {
  display: flex;
  align-items: center;
  @include fullHd {
    width: 350px;
  }
  width: 50%;
  @include phone {
    width: 100%;
  }
}

.form_actions {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include phoneOrTablet {
    column-gap: 20px;
  }
  @include phone {
    padding-top: 20px;
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

.price_wrapper {
  @include MontserratRegular(18px);
  color: $border-gray;
  white-space: nowrap;
  @include phone {
    width: 100%;
  }
}

.price {
  @include MontserratSemiBold(24px);
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: $additional-dark;
  box-shadow: 0 0 10px 0.2rem #67FFC7
}

.sliders_wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  & .range_wrapper {
    width: 100%;
  }
}