@import "scss/utils";


.input {
  width: 100%;
  min-height: 45px;
  border-radius: 10px;
  outline: none;
  border: 2px solid transparent;
  @include MontserratRegular(19px);
  letter-spacing: 1px;
  padding: 0 20px;
  background-color: #f5f6f7;
  transition: .2s all ease-in-out;

  @include laptopWidth {
    font-size: 16px;
  }

  @include phone {
    min-height: 40px;
    width: 100%;
    border-radius: 7px;
    font-size: 14px;
  }
  &:hover {
    border: 2px solid $gray;
    transition: .1s all ease-in-out;
  }
  &:focus {
    border: 2px solid $accent-color;
    transition: .1s all ease-in-out;
  }
  &:disabled {
    color: black;
    pointer-events: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.input_big {
  @extend .input;
  height: 70px;
}

.input_big_light {
  @extend .input_big;
  border: 2px solid $gray-semi;
}

.input_textarea {
  @extend .input;
  height: 185px;
  resize: none;
  border: 2px solid #C5C5C5;
  padding: 10px 5px;
}

.textarea_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & label {
    &:nth-child(2) {
      width: max-content;
    }
  }
}

.input_light {
  @extend .input;
  border: 2px solid $gray-semi;
}


.input_arrow_svg {
  position: absolute;
  top: calc(50% - 8px);
  right: 15px;
  transition: .2s all ease-in-out;
  @extend .svg;
  &:hover {
    color: $gray;
  }
}

.input_arrow_svg_open {
  transform: rotate(180deg);
  top: calc(50% - 12px);
  right: 18px;
}

.input_error {
  background: rgba(0, 0, 0, 0.30);
  color: $error-color;
  border: 2px solid $error-color;
  &:focus {
    border: 2px solid $error-color;
  }
}

.input_error_light {
  @extend .input_error;
  background: white;
}

.field {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 80px;
  width: 100%;
  margin-top: 15px;
  @include phone {
    height: 50px;
    margin-top: 15px;
  }
}

.field_noneed {
  height: max-content;
  margin-top: 0;
}

.field_with_label_big {
  @extend .field;
  height: 115px;
  margin-top: 0;
  justify-content: flex-start;
}

.field_big {
  @extend .field;
  height: 95px;
  margin-top: 15px;
}

.field_with_label {
  @extend .field;
  height: 90px;
  margin-top: 0;
  justify-content: flex-start;
  @include phone {
    height: 80px
  }
}



.input_label {
  width: 100%;
  color: $gray;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 20px;
  text-align: left;
}

.input_label_light {
  @extend .input_label;
  color: black;
}

.input_error_label {
  width: 100%;
  color: $error-color;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  @include phone {
    white-space: normal;
    text-align: right;
  }
}

.input_error_label_hidden {
  @extend .input_error_label
}

.field_textarea {
  @extend .field;
  height: 230px;
  margin-top: 0;
}